<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Login Page!</title>
	<style type="text/css">
	.log{
		margin: auto;
		width: 50%;
	}
	</style>
</head>
	<body>
	<div class="log">
	<p>Please login in!</p>
	<form method="POST">
	<label for="username">Username</label><input type="text" name="username"/><br/>
	<label for="password">Password</label><input type="text" name="password"/><br/>
	<input type="submit" name ="submit" value="login in!"/>
	</form>
	</div>
	</body>
</html>